%header
  .navbar.navbar-expand-lg.navbar-dark.bg-dark.static-top
    .container-fluid
      .navbar-header
        Erik Ostien
      %button.navbar-toggler{type: 'button', data: {toggle: 'collapse', target: '#navbarResponsive'}, aria: {expanded: 'false', controls: 'navbarResponsive', label: 'Toggle navigation'}}
        %span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse.w-100
        %ul.navbar-nav.w-100
          %li.navbar-text TEXT
          %li.nav-item{class: ('active' if currentPage == 'home')}
            = link_to 'Home', home_path, class: 'nav-link'
          %li.nav-item{class: ('active' if currentPage == 'two')}
            = link_to 'two', home_path, class: 'nav-link'
          %li.nav-item{class: ('active' if currentPage == 'three')}
            = link_to 'three', home_path, class: 'nav-link'